.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    
  }
  
  .modal.show {
    opacity: 1;
    visibility: visible;
    /* z-index: 1000; */
  }
  
  .modal iframe {
    background: white;
    border-radius: 10px;
    width: 100%;
    height: 100%;
  }
  